#end-section{
    padding: 100px;
    // height: 80vh;
    background-image: url(../img/callto-bg.jpg);
    text-align: center;
    h1{
        color: white;

    }
    p{
        color: white;
    }
   
}