footer{
    padding: 50px;
    // background-image: url(../img/footer-bg.jpg);
    ba
    p{
        color: white;
        a{
            color: white;
        }
    }
    ul{
        li{
            list-style-type: none;
            a{

                div{
                    border: 1px solid black;
                    padding: 10PX;
                    background-color: BLACK;
                    i{
                        color: white;
                        // margin: 20px;
                    }
                    &:hover{
                        background-color: white;
                        opacity: 0.1;
                        i{
                            color: black;
                        }

                    }
                }
            }
        }
    }
}