.slide{
    // height: 100vh;
    .carousel-caption{
        

        top: 20% !important;



    }
    #row{
        .firstContent{
            color: black;
            


        }
        .content-2{
            color: black;

        }
        .firstP{
            color: black;
        }
    }
    .firstContent{
        font-family: 'Sacramento', cursive;
    }
    .content-2{
        font-family: 'Open Sans', sans-serif;

    }
    .firstP{
        text-align: start;
        font-family: 'Open Sans', sans-serif;
    }
    .btn-danger{
        font-family: 'Open Sans', sans-serif;

    }
}